/*li,a,ul,div{border:1px solid black;}*/
#leftContainer{
	height: 800px;
}
#content{	background-color: #F2F2F2;
}
#content-title{
	padding-left:2%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-bottom: 1px solid #AEAEAE;
}
#content-con{
	/*background-color: #EBEEF2;*/
	background-color: #F2F2F2;
	width: 90%;
}
#content-con-title{
	/*background-color: #EBEBEB;*/
	background-color: #F2F2F2;
	color:red;
	font-size: 14px;
	border-bottom: 1px solid #D7D7D7;
}
.uk-button{
	background-color:#666666;
	color:white;
}
.uk-table td,.uk-table tr,.uk-table th{
	border:1px solid #D7D7D7;
}
#hidden-table{
	position: absolute;
	top:60px;
	left:10%;
	background-color: white;
	display: none;
}
.uk-modal{
	height:400px;
	transition: opacity 0.15s linear;
	z-index: 1010;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background: rgba(0, 0, 0, 0.6);
}
.uk-close{
	position: relative;
	top:-50px;
	left: 20px;
}
.uk-table{
	background-color: white;
	width: 95%;
	margin:15px auto;
}
.histogram-container{position:relative;margin-left:60px;margin-top:10px;margin-bottom:25px;}
.histogram-bg-line{border:#999 solid;border-width:0 1px 1px 1px;border-right-color:#eee;overflow:hidden;width:99%;}
.histogram-bg-line ul{overflow:hidden;border:#eee solid;margin-bottom:0;border-width:1px 0 0 0;}
.histogram-bg-line li{float:left;width:20%;/*根据.histogram-bg-line下的ul里面li标签的个数来控制比例*/overflow:hidden;}
.histogram-bg-line li div{border-right:1px #eee solid;}
.histogram-content{position:absolute;left:0px;top:0;width:99%;height:100%;}
.histogram-content ul{height:100%;}
.histogram-content li{float:left;height:100%;width:20%;/*根据直方图的个数来控制这个width比例*/text-align:center;position:relative;}
.histogram-box{position:relative;display:inline-block;height:100%;width:20px;}
.histogram-content li a{position:absolute;bottom:0;right:0;display:block;width:20px;}
.histogram-content li .name{position:absolute;bottom:-20px;left:0px;white-space:nowrap;display:inline-block;width:100%;font-size:12px;}
.histogram-y{position:absolute;left:-80px;top:-5px;font:12px/1.8 verdana,arial;}
.histogram-y li{text-align:right;width:55px;padding-right:5px;color:#333;}
.histogram-bg-line li div,.histogram-y li{height:50px;/*控制单元格的高度及百分比的高度，使百分数与线条对齐*/}